.content {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    height: auto;
    animation: appear ease;
    animation-timeline: scroll(root block);
}

@keyframes appear {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.title {
    margin: auto;
    font-size: 5em;
    color: white;
    padding: 1em 0 1em 0;
    width: fit-content;
    /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 1); */
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
	}

	70% {
		transform: scale(1);
		/* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
	}

	100% {
		transform: scale(0.95);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
	}
}