.project {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: end; */
    /* flex-direction: row; */
    /* justify-content: end; */
    /* float: right; */
    /* width: 50%; */
    height: 1.3em;
    text-align: center;
    font-size: 2em;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Bauhaus 93', sans-serif; */
    /* font-family: 'Agency FB'; */
    /* font-family: 'script mt'; */
    /* top: 0; */
    margin: 0.5em 5em;
    padding: 0.5em 0 0.5em 0;
    /* border-radius: 2em; */
    border-style: none;
    border-color: transparent;
    /* overflow-y: scroll; */
    animation: show 1s 100ms forwards;
    /* // Prestate */
    /* opacity: 1; */
    /* // remove transform for just a fade-in */
    transform: rotateX(-90deg);
    transform-origin: top center;
    transition: 1s;
}

.project:hover {
    height: 5em;
    margin: 0.5em 4em;
    cursor: pointer;
}

.project > a {
    display: block;
    opacity: 0;
}

@keyframes show {
    100% {
      opacity: 1;
      transform: none;
    }
}