.projectCats {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin: 1em 0 0 12em;
    border-style: solid none solid none;
    border-color: white
    /* overflow-y:auto */
}

.header {
    /* width: fit-content; */
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    /* margin: 0 0 1em 0; */
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: white;
    background-color: transparent;
    border-style: none none solid none;
    border-color: white;
    transition: 1s;
}