.projectCat {
    width: fit-content;
    text-align: left;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0.2em 0.5em;
    padding: 0em 0.5em 0em 0.5em;
    color: white;
    background-color: transparent;
    border-style: none none solid none;
    border-color: transparent;
    border-width: 0.1em;
    transition: 1s;
}

.projectCat:hover {
    border-color: white
}