.projectCat {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    font-size: 2em;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Bauhaus 93', sans-serif; */
    font-family: 'Agency FB';
    /* font-family: 'script mt'; */
    /* top: 0; */
    margin: 0;
    padding: 0.9em 0 0.9em 0;
    border-style: solid none none solid;
    border-color: black;
}

.projectCat:hover {
    background-color: lightslategray;
}